/* NAVBAR */

/* .navbar-light .navbar-toggler-icon{
    
} */
.navbar-brand{
    margin-right: 0;
}

/* .navbar .container-fluid{
    justify-content: center;
}
 */
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.87rem 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 10000;
    background-color: map-get($colores , principal);
}

.navbar-light .navbar-toggler{
    color: white;
    border-color: white;
}

.navbar-light .navbar-brand{
    color: white;

    &:hover{
        color: map-get($colores , secundario);
    }
}


.navbar-light .navbar-nav .nav-link{
    color:white;

    &.active{
        color: map-get($colores , secundario);
    }

    &:hover{
        color: white;
    }
}



.nav-link{
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 20px;

    a{
        text-decoration: none;
        padding: 6px 15px;
        color: white;
        border-radius: 20px;
        transition: ease 0.5s;  
    }

    &:hover{
        color: white;
        background: map-get($colores , secundario);
        border-radius: 20px;
    }
}

    

/* ICONOS REDES SOCIALES */
.social{
    @extend %social-icon-base;
    padding-left: 5px;
}

.social-icon-instagram{
    @extend %social-icon-base;

    &:hover{
        @extend %social-icon-focus;
        color: map-get($colores , instagram); 
        
    }
    
}

.social-icon-facebook{
    @extend %social-icon-base;

    &:hover{
        @extend %social-icon-focus;
        color: map-get($colores , facebook); 
        
    }
}

.social-icon-twitter{
    @extend %social-icon-base;  
    
    &:hover{
        @extend %social-icon-focus;
        color: map-get($colores , twitter); 
        
    }
}