$color-principal: #1F1F46;
$color-secundario: #E63946;
$color-alternativo: #212E74;
$size-social-icon: 20px;

$colores: (
    principal: #1F1F46,
    secundario: #E63946,
    alternativo: #212E74,
    gradient-p: linear-gradient(to right, $color-principal, $color-alternativo),
    gradient-btn-1: linear-gradient(to right, $color-secundario, $color-alternativo ),
    gradient-btn-2: linear-gradient(to right,$color-alternativo , $color-secundario ),
    facebook: #3b5998,
    instagram: #e1306c,
    twitter: #00ACED
);


%social-icon-base{
    font-size: $size-social-icon;
    color: white; 
    text-decoration: none;
};

%social-icon-focus{
    font-size: $size-social-icon;
    text-decoration: none;
    transition: ease 0.5s;
};


@mixin tipoDisplay ($display) {
    display: $display;
    justify-content: center;
    align-items: center;
};